<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wx's address list.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F453E8EA1D26661400429EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F453E8FE1D26661400429EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F453E9091D26661400429EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
